#about {
  color: rgb(0, 0, 255);
  text-decoration: none;
  text-align: justify;
  padding: 10px 20px;
  font-style: italic;
  letter-spacing: 5px;
}
#timeline {
  color: rgb(0, 0, 255);
  text-decoration: none;
  text-align: justify;
  padding: 10px 20px;
  font-style: italic;
  letter-spacing: 5px;
}
#achievements {
  color: rgb(0, 0, 255);
  text-decoration: none;
  text-align: right;
  padding: 10px 20px;
  font-style: italic;
  letter-spacing: 5px;
}
#quote {
  color: rgb(0, 0, 255);
  text-decoration: none;
  text-align: right;
  padding: 10px 20px;
  font-style: italic;
  letter-spacing: 5px;
}

h1.firstPart {
  text-align: center;
  color: rgb(0, 0, 0);
  text-shadow: 2px 2px 5px rgb(234, 126, 10), 0 0 20px rgb(236, 169, 169), 0 0 7px green;
  text-transform: capitalize;
  letter-spacing: 10px;
  line-height: 0.8;
  word-spacing: 10px;
  padding-top: 150px;
  font-family: Nosifer;
}
h1.secondPart {
  text-align: center;
  color:black;
      
  text-shadow: 2px 2px 5px green, 0 0 20px rgb(199, 231, 187), 0 0 6px orange;
  text-transform: uppercase;
  letter-spacing: 10px;
  line-height: 0.8;
  word-spacing: 10px;
  padding-bottom: 80px;
  padding-top: 20px;
  font-family: Nosifer;
}

body {
  background:linear-gradient(to bottom,black,rgb(39, 39, 39));
  height: 100vh;
  margin: 0;
}
img.a {
  opacity: 0.7;
}

.container_Forcenter {
  display: flex;
  justify-content: center;
  align-items: center; /* vertically center */
  /* full viewport height */
}
.missileButton{
  border-radius: 5px;
  border-spacing: 15px;
  border-color: blue;
  
}
